variable "azure_subscription_id" { type = string }
variable "azure_tenant_id"       { type = string }
variable "project_name"          { type = string }
variable "environment"           { type = string; default = "dev" }
variable "location"              { type = string; default = "eastus" }
variable "owner"                 { type = string }
variable "extra_tags"            { type = map(string); default = {} }
